body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: #fff;
}
nav {
  background: #1f1f1f;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 15px 60px;
  align-items: center;
}
.logo span {
  color: #f39c12;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links a {
  color: white;
  text-decoration: none;
}
.nav-links a.active,
.nav-links a:hover {
  color: #f39c12;
}

.work-hero {
  text-align: center;
  padding: 100px 20px;
  background: #f1f1f1;
}
.work-hero span {
  color: #f39c12;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  padding: 60px;
}
.project img {
  width: 100%;
  border-radius: 10px;
}
.project h3 {
  margin-top: 10px;
  color: #222;
}
.project p {
  color: #555;
}

footer {
  background: #1f1f1f;
  color: white;
  text-align: center;
  padding: 15px;
}


.work-hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 40px 60px;
}

.project {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.project img {
  width: 100%;
  height: 60%;
  object-fit:contain;
  transition: transform 0.4s ease;
  border-radius: 6px;
}

.project:hover img {
  transform: scale(1.1);
}

.project:hover {
  transform: scale(1.05);
  z-index: 2;
  box-shadow: 0 10px 20px rgba(250, 166, 10, 0.3);
}
.project::after {
  content: attr(data-title);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.3s ease;
}

.project:hover::after {
  opacity: 1;
  transform: translateY(0);
}
